$border-color: #0f1224;

$button-hover: #DBCFAC;
$button-active: #B0A37D;

$button-primary-hover: #289B76;
$button-primary-active: #238867;



$background-color: #313552;
$primary-color: #2EB086;
$primary-color-active: #258E6C;
$default-color: #EEE6CE;
$secondary-color: #B8405E;

$text-color: #EEE;