@use 'src/variables' as var;

.Button {
  padding: 5px 15px;
  margin: 0 5px;
  border: 1px solid var.$border-color;
  background: var.$default-color;
  color: var.$background-color;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;

  &:hover {
    background: var.$button-hover;
  }

  &:active {
    background: var.$button-active;
  }
}

.Button_primary {
  background: var.$primary-color;
  color: var.$text-color;

  &:hover {
    background: var.$button-primary-hover !important;
  }
  &:active {
    background: var.$button-primary-active !important;
  }
}
