.MenuItem {
  color: #aaa;
  white-space: nowrap;
  list-style: none;
  cursor: default;
  padding: 5px 10px;

  &__border {
    border-bottom: 1px solid #353535;
  }

  &:hover {
    background: #333;
  }
}