.menu-list {
  position: relative;
}

.menu-list__button {
  background: transparent;
  color: #aaa;
  border: none;
}

.menu-list__list-items {
  padding: 0;
  list-style: none;
  position: absolute;
  background: #333;
  left: 0;
  top: 100%;
  min-width: 150px;
}