@use 'src/variables' as var;

.MenuItem {
  color: var.$text-color;
  white-space: nowrap;
  list-style: none;
  cursor: default;
  padding: 5px 10px;

  &__border {
    border-bottom: 1px solid var.$border-color;
  }

  &:hover {
    background: var.$primary-color;
  }
}