$primary-color: #0060df;

.Modal {
  position: absolute;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__window {
    color: #ddd;
    width: 500px;
    background: #333;
    border-radius: 4px;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #111;
  }

  &__header {
    border-bottom: 1px solid #111;
    flex: 0 0 auto;
    padding: 10px 10px;
    display: flex;
    flex-flow: row nowrap;
    color: #bbb;
    font-weight: 700;
  }

  &__footer {
    flex: 0 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;

  }

  &__content {
    flex: 1 0 auto;
    padding: 15px;
  }

  &__title {
    flex: 1 0 auto;
  }

  &__close {
    flex: 0 0 auto;
    cursor: pointer;
    padding: 0 5px;
    font-size: 20px;
    line-height: 1;
    &:hover {
      color: #f00;
    }
  }

  &__button {
    padding: 5px 15px;
    margin: 0 5px;
    border: 1px solid #111;
    background: #1a1a1a;
    color: #c8c8c8;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;

    &_apply {
      background: $primary-color;

      &:hover {
        background: #0048a8 !important;
      }
      &:active {
        background: #00357b !important;
      }
    }

    &:hover {
      background: #444;
    }
  }
}