@use 'src/variables' as var;

.ValueInput {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;


    &__unit {
        background: #fff;
        border-top: 1px solid var.$border-color;
        border-bottom: 1px solid var.$border-color;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        font-weight: 700;
        color: var.$text-color;
        background: #9d9d9d;
    }

    &__input {
        flex: 1 0 50px;
        text-align: right;
        border: 1px solid var.$border-color;
        border-right: none;
        outline: none;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        font-weight: 700;
        color: var.$text-color;
        background: #9d9d9d;
    }

    &__buttons {
        flex: 0 0 auto;
        display: flex;
        flex-flow: column nowrap;

    }

    &__button {
        flex: 1;
        width: 40px;
        border: 1px solid #000;
        background: var.$default-color;
        font-weight: 700;
        line-height: 0;

        &:hover {
            background: var.$button-hover;
        }

        &:active {
            background: var.$button-active;
        }

        &_up {
            border-top-right-radius: 4px;
            border-bottom: none;
        }

        &_down {
            border-bottom-right-radius: 4px;
        }
    }
}